:root {
  --clr-dark-700: hsl(217, 19%, 35%);
  --clr-dark-500: hsl(214, 17%, 51%);
  --clr-dark-400: hsl(212, 23%, 69%);
  --clr-light: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  background-color: var(--clr-light);
  color: var(--clr-dark-400);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 16.75px;
  line-height: 1.3;
  margin-bottom: 1em;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 13.75px;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h1,
h2 {
  color: var(--clr-dark-700);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 740px;
}

.card {
  background-color: white;
  border-radius: 11px;
  position: relative;
}

.card__img {
  height: 200px;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 28%;
  border-radius: 11px 11px 0 0;
}

.card__body {
  padding-top: 2.5em;
  padding-bottom: 1.5em;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.card__footer {
  display: flex;
  align-items: center;
}

.card__footer p {
  margin: 0;
}

.avatar {
  margin-top: auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 2em;
}

.name {
  margin-right: auto;
}

.share__icon {
  background-color: var(--clr-light);
  padding: 0.6125em 0.65em;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.share__icon:hover,
.share__icon:active {
  background-color: var(--clr-dark-700);
}

.share__icon:hover path,
.share__icon:active path {
  fill: #fff;
}

.share__tab {
  display: none;
}

.share__tab--open {
  background-color: var(--clr-dark-700);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em 2.5em;
  border-radius: 0 0 11px 11px;
}

.share__tab ul {
  list-style: none;
  display: flex;
}

.share__tab ul li {
  padding: 1em;
  cursor: pointer;
}

.share__tab p {
  letter-spacing: 3px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 1.35rem;
  }

  .card {
    display: flex;
    width: 730px;
    height: 280px;
  }

  .card__img {
    width: 38%;
    height: 100%;
  }

  .card__body {
    width: 62%;
  }

  .card__img img {
    width: 280px;
    object-fit: cover;
    object-position: left;
    border-radius: 11px 0 0 11px;
  }

  .share__tab--open {
    width: 250px;
    border-radius: 5px;
    padding: 0.5em 1.5em;
    top: 50%;
    bottom: unset;
    left: unset;
    right: -10%;
    border-radius: 11px;
  }
}
